<% include partials/header %>

<div class="container">
	<form class="navbar-form navbar-left" action="/search" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="movie_name" required>
        </div>
        <div class="form-group">
        	<input type="text" class="form-control" placeholder="Year" name="year" required>
        </div>
        <select name="type" class="selectpicker">
        	<option selected>Type</option>
        	<option>Movie</option>
        	<option>Series</option>
        </select>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
</div>

<% include partials/footer %>